USE [master]
GO
/****** Object:  Database [dbSpaceApp]    Script Date: 4/29/2017 2:32:39 PM ******/
CREATE DATABASE [dbSpaceApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSpaceApp', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbSpaceApp.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbSpaceApp_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbSpaceApp_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbSpaceApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbSpaceApp]
GO
/****** Object:  User [user]    Script Date: 4/29/2017 2:32:39 PM ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 4/29/2017 2:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [char](2) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[CountryAr] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LandWater]    Script Date: 4/29/2017 2:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandWater](
	[long] [float] NOT NULL,
	[lat] [float] NOT NULL,
	[value] [float] NOT NULL,
	[Dt] [date] NOT NULL,
 CONSTRAINT [PK_LandWater] PRIMARY KEY CLUSTERED 
(
	[Dt] ASC,
	[lat] ASC,
	[long] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LandWater] ADD  CONSTRAINT [DF_LandWater_Lon]  DEFAULT ((0)) FOR [long]
GO
ALTER TABLE [dbo].[LandWater] ADD  CONSTRAINT [DF_LandWater_Lat]  DEFAULT ((0)) FOR [lat]
GO
ALTER TABLE [dbo].[LandWater] ADD  CONSTRAINT [DF_LandWater_amount]  DEFAULT ((0)) FOR [value]
GO
ALTER TABLE [dbo].[LandWater] ADD  CONSTRAINT [DF_LandWater_Dt]  DEFAULT ('2014-12-18') FOR [Dt]
GO
USE [master]
GO
